---
import Layout from '../layouts/Layout.astro'; // si usas un layout global
import Lottie from "../components/Lottie404.astro";
---
<Layout title="Página 404" description="Página no encontrada">
  <main class="flex flex-col items-center justify-center min-h-screen bg-white text-center px-6">
    
    <div class="w-full max-w-[820px]">
      <Lottie 
        src="/animations/404.json" 
        width="100%" 
        height="100%" 
      />
    </div>

    <strong class="text-4xl text-gray-700 mt-4 mb-8">
      Ups... la página que buscas no existe.
    </strong>

    <a 
      href="/" 
      class="px-7 py-3 bg-black text-white rounded-lg hover:bg-gray-800 transition"
    >
      Volver al inicio
    </a>

  </main>
</Layout>
