---
import Layout from "../layouts/Layout.astro";
import Paypal from "../components/icons/Paypal.astro";
---

<Layout title='boveda de cursos' description='Pagina de los avisos legales de la pagina boveda de cursos'>
    <section class="flex max-w-[1000px] m-auto">
        <div class="w-full max-w-screen text-white mt-30 mb-20  px-10 space-y-5">
            <h2 class="text-2xl text-white text-center font-bold mt-10 mb-5">Aviso Legal — Bóveda de Cursos 2025</h2>
            <h3>1. Datos identificativos</h3>
                <p>En cumplimiento del artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la
                    Sociedad de la Información y de Comercio Electrónico (LSSI-CE), se expone la
                    siguiente información:
                    </p>
                <ul class="list-disc list-inside pl-7">
                    <li>Nombre comercial: Bóveda de Cursos 2025</li>
                    <li>Correo de contacto: info@bovedadecursos2025.com</li>
                    <li>Sitio web: www.bovedadecursos2025.com</li>
                </ul>
            <h3>2. Naturaleza del servicio</h3>
                <p>Bóveda de Cursos 2025 es una plataforma digital que recopila y facilita el acceso a
                    materiales educativos ya existentes en Internet, entregados a través de plataformas de
                    almacenamiento como MEGA.</p>
                <p>No afirmamos propiedad intelectual ni autoría sobre los cursos ofrecidos, ya que
                    estos provienen de terceros y su uso está sujeto a las condiciones propias de dichos
                    contenidos.</p>
                <p>La finalidad de la plataforma es distribuir contenido educativo bajo una lógica de
                    recopilación, simplificación de acceso y soporte técnico básico, sin modificar ni
                    comercializar el contenido como propio</p>
                <h3>3. Derechos de autor y contenidos de terceros</h3>
                <p>Bóveda de Cursos 2025 no reclama derechos de autor sobre los cursos publicados.
                    Toda propiedad intelectual pertenece a sus respectivos autores, instituciones o empresas
                    originales.</p>
                <p>En caso de que seas el autor o titular de un curso compartido en nuestra plataforma y
                    deseas solicitar su remoción o realizar un reclamo formal, puedes enviarnos una
                    notificación por correo a:</p>
                <strong>info@bovedadecursos2025.com</strong>
                <p>Incluye en tu correo:</p>
                <ul class="list-disc list-inside pl-7">
                    <li>Documento que acredite tu identidad como autor o titular legítimo del contenido.</li>
                    <li>Enlace exacto al curso publicado en nuestro sitio.</li>
                    <li>Declaración clara solicitando la eliminación del contenido, junto con una justificación válida.</li>
                    <li>Datos de contacto para seguimiento del caso.</li>
                </ul>
                <p>Una vez recibida la información, procederemos a la revisión y, si corresponde, a la
                    eliminación del material.</p>
            <h3>4. Limitación de responsabilidad</h3>
            <p>Bóveda de Cursos 2025 no se responsabiliza por el uso indebido que los usuarios
                hagan de los contenidos compartidos en la plataforma, ni por la veracidad o calidad de
                los mismos.</p>
                <p>La plataforma actúa únicamente como intermediaria en la distribución de material
                    educativo que ya se encuentra disponible públicamente o circula en redes de
                    distribución informal.</p>

            <h3>5. Reclamaciones</h3>
                <p>Este sitio utiliza cookies para:</p>
                    <ul class="list-disc list-inside pl-7">
                    <li>Analizar estadísticas de navegación (Google Analytics).</li>
                    <li>Guardar preferencias del usuario (idioma, sesión activa, etc.).</li>
                    <li>Facilitar procesos de compra o acceso a contenidos.</li>
                    <li>Mejorar la experiencia personalizada del usuario.</li>
                    </ul>
                    <p>Puedes desactivar o eliminar cookies desde la configuración de tu navegador. Sin
                    embargo, esto podría afectar el funcionamiento de ciertas funciones de la web.</p>
            <h3>5. Cookies de terceros</h3>
                <p>Los usuarios pueden presentar reclamos o sugerencias sobre el funcionamiento de la
                    plataforma enviando un correo electrónico a:</p>
                <strong>info@bovedadecursos2025.com</strong>
                <p>Deberás incluir:</p>
                <ul class="list-disc list-inside pl-7">
                    <li>Nombre completo</li>
                    <li>Fecha de compra o incidente</li>
                    <li>Producto afectado</li>
                    <li>Descripción detallada del reclamo</li>
                </ul>
                <p>También puedes contactarnos por nuestros canales de soporte para atención más
                    inmediata.</p>
            <h3>6. Actualización del aviso legal</h3>
            <p>Nos reservamos el derecho de actualizar este aviso legal en cualquier momento.
                Recomendamos a los usuarios revisarlo periódicamente para mantenerse informados
                sobre sus derechos y obligaciones.</p>
        </div>
    </section>
</Layout>










