---
import CursoItem from "../components/Curso-Item.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout
  title="boveda de cursos"
  description="Pagina de todos los cursos que se encuentran disponibles"
>
<section class="bg-white p-10 md:p-10 relative">
  <div class="max-w-[1200px] flex flex-col gap-4 mt-30 md:mt-40 m-auto">
    <div class="flex justify-between items-center">
      <samp class="text-2xl md:text-5xl">Compras</samp>
    </div>
    <div class="flex flex-col-reverse md:flex-row w-full gap-x-10">
      <div class="grow-3">
        <div class="text-gray-400 text-sm mb-5">
          <p><span id="contador-carrito">0</span> CURSOS EN LA CESTA</p>
        </div>
        <div class="flex flex-col md:flex-row w-full justify-between space-y-2 ">
          <div class="flex flex-row gap-x-5">
              <div>
                <img
              src=""
              class="curso-imagen size-14 md:size-24 max-w-full max-h-full"
              alt=""/>
              </div>
            <div>
              <strong class="curso-titulo text-black font-black text-sm line-clamp-3">curso de prueba 2</strong>
              <p class="hidden md:block">Por Bessy Arteaga</p>
              <div class="flex flex-col-reverse md:flex-row gap-2">
                <!-- Badge Lo más vendido -->
                <span class="bg-cyan-100 text-cyan-800 w-min whitespace-nowrap text-sm font-semibold px-2 py-1 rounded ">
                  Lo más vendido
                </span>
              </div>
            </div>
          </div>
          <div class="flex flex-col whitespace-nowrap">
            <!-- Precio actual -->
            <a class="curso-precioactual text-indigo-600 font-extrabold text-xl ">Descargar</a>
            <!-- Precio anterior (tachado) -->
            <a class="curso-precioanterior text-gray-500 text-sm">Seguir Comprando</a> 
          </div>
        </div>
        <div
          id="carrito-container"
          class="space-y-6 divide-y divide-gray-200"
        >
        </div>
      </div>

    </div>
  </div>
</section>
    <!-- En tu componente Astro -->  
</Layout>




