---
import Layout from "../layouts/Layout.astro";
import LoginModal from "../components/Login-Modal.astro";
---

<Layout
  title="boveda de cursos"
  description="Pagina de todos los cursos que se encuentran disponibles"
>
  <section class="bg-white p-10 md:p-10 relative">
    <div class="max-w-[1200px] flex flex-col gap-4 mt-30 md:mt-40 m-auto">
      <div class="flex justify-between items-center">
        <samp class="text-2xl md:text-5xl"> Tus compras</samp>
        
      </div>
      <div class="item relative overflow-x-auto">
        <table
          class="w-full text-left rtl:text-right border-b-1 border-black/7"
        >
          <thead
            class="text-xs text-gray-400 uppercase border-b-1 border-black/7"
          >
            <tr>
              <th scope="col" class="py-3">Producto</th>
              <th scope="col" class="py-3 text-right">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td class="flex py-4 space-x-5">
                <img
                  src="../img/prueba.webp"
                  class="w-30 md:w-44 max-w-full max-h-full"
                  alt=""
                />
                <div class="flex-row">
                    <h3 class="text-lg font-semibold line-clamp-3">
                        Amazon FBA por Bessy Arteaga
                    </h3>
                </div>

                <td
                  class="itemTotal content-start text-gray-900 font-semibold py-4 text-right"
                  >
                  <a href="#" class="text-[12px] md:text-[16px] underline underline-offset-4 hover:text-blue-400 hover:decoration-blue-400 hover:decoration-2">
                        Descargar</a>
                  </td
                >
              </td>
            </tr>
          </tbody>
        </table>
         
      </div>
    </div>
  </section>
  <LoginModal></LoginModal>
</Layout>

