---
import Layout from "../layouts/Layout.astro";
---

<Layout title='boveda de cursos' description='Pagina de DMCA de la pagina boveda de cursos'>
    <section class="flex max-w-[1000px] m-auto">
        <div class="w-full max-w-screen text-white mt-20 mb-20  px-10 space-y-5">
            <h2 class="text-2xl text-white text-center font-bold mt-10 mb-5">DMCA – Digital Millennium Copyright Act</h2>
                <p>Bóveda de Cursos 2025 respeta los derechos de propiedad intelectual de terceros y
                    cumple con las disposiciones de la Sección 512 de la Ley de Derechos de Autor del
                    Milenio Digital de EE.UU. (“DMCA”, por sus siglas en inglés).                    
                    </p>
                <p>Si usted considera que su contenido protegido por derechos de autor ha sido publicado
                    en nuestro sitio web sin autorización, puede enviarnos una notificación formal
                    solicitando su eliminación.</p>
               
            <h3>✅ Cómo presentar un reclamo DMCA</h3>
                <p>Para procesar correctamente su solicitud, debe enviarnos una comunicación escrita que
                    incluya lo siguiente:</p>
                <strong>1. Identificación del titular del derecho:</strong>
                <p>Una prueba documentada que demuestre que usted es el propietario legítimo de
                    los derechos de autor, o que está autorizado a actuar en nombre del propietario.</p>
                <strong>2. Información de contacto válida:</strong>
                <p>Debe incluir su nombre completo, dirección, número de teléfono y una dirección
                    de correo electrónico operativa.
                    </p>
                <strong>3. Contenido presuntamente infringido:</strong>
                <p>Describa con precisión el contenido que considera que infringe sus derechos.
                    Incluya enlaces directos (URL) al contenido específico dentro de nuestro sitio o
                    los términos de búsqueda que permitan identificarlo.</p>
                <strong>4. Declaración de buena fe:</strong>
                <p>Una afirmación escrita de que, bajo su leal saber y entender, el uso del material
                    no está autorizado por el titular de los derechos de autor, su agente o la ley.
                    </p>
                <strong>5. Declaración de veracidad y autoridad:</strong>
                <p>Una declaración bajo pena de perjurio de que la información proporcionada en la
                    notificación es exacta y que usted está autorizado a actuar en nombre del titular
                    de un derecho exclusivo presuntamente infringido.
                    </p>
            <h3>Envío de notificaciones</h3>
            <p>Las notificaciones deben enviarse por correo electrónico a:</p>
            <p><strong>Correo oficial:</strong>info@bovedadecursos2025.com</p>
            <p>Solo se considerarán válidas las solicitudes que se envíen a través de este canal.</p>

            <h3>Advertencias legales</h3>
                <p>Este sitio utiliza cookies para:</p>
                    <ul class="list-disc list-inside pl-7">
                        <li>Si realiza una declaración falsa intencionadamente en su notificación, puede ser responsable de los daños legales y financieros derivados (incluyendo costas procesales y honorarios de abogados).</li>
                        <li>No aceptamos reclamos sin pruebas claras ni comunicaciones incompletas.</li>
                        <li>Si el producto objeto del reclamo no cuenta con una prueba de registro válido o de autoría legítima, su solicitud puede ser desestimada.</li>
                    </ul>
            <h3>Tiempos de respuesta</h3>
                <p>Una vez recibida la notificación completa, el equipo de Bóveda de Cursos 2025
                    evaluará su solicitud en un plazo de 1 a 2 días hábiles.</p>
                <p>Le notificaremos la decisión vía correo electrónico. No es necesario que contacte a
                    nuestro proveedor de hosting ni a terceros externos; hacerlo podría retrasar
                    innecesariamente la resolución del caso</p>
                
        </div>
    </section>
</Layout>

<style>
    html{
        background-color: #232524;
    }
</style>








