---

import Layout from '../layouts/Layout.astro';
import Portada from '../components/home/Portada.astro';
import PortadaSwiper from '../components/home/Portada-swiper.astro';
import Contador from '../components/home/Contador.astro';
import Beneficios from '../components/home/Beneficios.astro';
import Botonera from '../components/home/Botonera.astro';
import Close from '../components/icons/Close.astro';

---

<Layout title='boveda de cursos' description='Pagina dedicada para vender cursos'>
<main>
<Portada></Portada>
<PortadaSwiper></PortadaSwiper>
<Contador></Contador>
<Beneficios></Beneficios>
<Botonera></Botonera>
</main>
</Layout>


<style>
    html{
        background-color: #232524;
    }
</style>