<section class="max-w-[1400px] m-auto">
    <div class="flex flex-wrap gap-x-10 p-10 space-y-3">
        <div class="flex items-center">
            <h3 class="text-white">
                Aprende sin límites y <strong class="text-primary">
                    al mejor precio
                </strong>
            </h3>
        </div>
       <div class="flex-auto text-white">
        <p>
            Nuestro compromiso es simple:
        </p>
        <p>
            Hacer que el aprendizaje sea accesible para todos.
        </p>
        <p>
            Ofrecemos cursos completos, de alta calidad y 
        </p>
        <p>
            con precios bajos, para estudiantes,
emprendedores y autodidactas de toda Latinoamérica.
        </p>
        <p>
            Aquí el precio <strong class="text-primary" >nunca será una barrera.</strong>
        </p>
        <div class="flex flex-row mt-5">
            
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-[#fed700] to-[#fed700] group-hover:from-green-400 group-hover:to-blue-600 hover:text-black hover:font-bold "
                >
                    <span
                        class="relative text-[12px] md:text-[18px]  px-1 md:px-3 py-3.5 transition-all ease-in duration-75 bg-[#232524] rounded-full group-hover:bg-transparent"
                    >
                        Registrarme
                    </span>
                </button>
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-[#fed700] to-[#fed700] group-hover:from-green-400 group-hover:to-blue-600 hover:text-black hover:font-bold "
                >
                    <span
                        class="relative text-[12px] md:text-[18px] px-1 md:px-3 py-3.5 transition-all ease-in duration-75 bg-[#232524] rounded-full group-hover:bg-transparent"
                    >
                        Vendedor VIP
                    </span>
                </button>
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-[#fed700] to-[#fed700] group-hover:from-green-400 group-hover:to-blue-600 hover:text-black hover:font-bold "
                >
                    <span
                        class="relative text-[12px] md:text-[18px] px-1 md:px-3 py-3.5 transition-all ease-in duration-75 bg-[#232524] rounded-full group-hover:bg-transparent"
                    >
                        Solicitar curso
                    </span>
                </button>
        </div>
       </div>
    </div>
    <div class="flex flex-wrap gap-5 px-10 pb-10 text-white">
        <div class="w-[400px] grow-3  bg-gray-300/10 rounded-sm p-5 space-y-2">
            <img src="../../img/content_icon.svg" alt="">
            <span class="font-bold">Acceso Total al Curso</span>
            <p>
                Desde el primer minuto, tienes acceso completo al curso, sin pagos adicionales.
            </p>
        </div>
        <div class="w-[400px] grow-3 bg-gray-300/10 rounded-sm p-5 space-y-2">
            <img src="../../img/valor_icon.svg" alt="">
            <span class="font-bold">Acceso Total al Curso</span>
            <p>
                Desde el primer minuto, tienes acceso completo al curso, sin pagos adicionales.
            </p>
        </div>
        <div class="w-[400px] grow-3 bg-gray-300/10 rounded-sm p-5 space-y-2">
            <img src="../../img/dolar_icon.svg" alt="">
            <span class="font-bold">Acceso Total al Curso</span>
            <p>
                Desde el primer minuto, tienes acceso completo al curso, sin pagos adicionales.
            </p>
        </div>
    </div>

</section>