<section class="m-auto py-10">
 <div class="py-15 bg-primary">
    <div class="flex flex-col text-center px-10 space-y-3">
        <h3>
            APRENDE MÁS, PAGA MENOS
        </h3>
        <samp class="text-white text-md" >
            Obten acceso a +800 cursos, sin restricciones y de por vida.
        </samp>
        <p class="text-white">
            La mejor pagina para <strong>comprar y solicitar</strong> cursos a bajo precio.
        </p>
    </div>
   <div class="flex flex-row items-center px-10 pt-5">
    <div class="grid-cols-3 m-auto text-gray-400 text-[18px]">
        <button
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200"
        >
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#27385C] rounded-full group-hover:bg-transparent"
            >
                Comprar cursos
            </span>
        </button>
        <button
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200"
        >
            <span
                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#27385C] rounded-full group-hover:bg-transparent"
            >
            Vender cursos
            </span>
        </button>
        <button
        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200"
    >
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#27385C] rounded-full group-hover:bg-transparent"
        >Solicitar cursos
        </span>
    </button>
    </div>
</div>
 </div>
</section>