<section class="flex  min-h-[600px] m-auto" style="background-image: url(/img/bg-portada.webp);">
        <div class=" max-w-[1300px] m-auto py-14 px-10">
            <div class="text-center">
                <h1 class="uppercase text-white">Bóveda de Cursos</h1>
                <h2 class="text-primary">Aprende habilidades digitales al mejor precio</h2>
                <div class="text-white">
                    <p>Trading, IA, marketing y más.</p>
                    <p>Accede a contenido completo y actualizado, sin
                        pagar de más.</p>
                </div> 
            </div>
              <!-- Imagen centrada y responsiva -->
            <div class="w-full flex justify-center">
                <img 
                src="/img/principal.webp" 
                alt="Imagen principal"
                class="max-w-[500px] w-full object-contain drop-shadow-lg"
                >
            </div>
            <div class="flex text-gray-400 text-[18px] justify-center ">

                <button onclick="location.href='/Cursos'"
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-[#fed700] to-[#fed700] group-hover:from-green-400 group-hover:to-blue-600 hover:text-black hover:font-bold "
                >
                    <span
                        class="relative text-[14px] md:text-[18px] px-3 py-3.5 transition-all ease-in duration-75 bg-[#232524] rounded-full group-hover:bg-transparent"
                    >
                        Explora todos nuestros cursos
                    </span>
                </button>
            </div>
            
        </div>
        <!-- <div class="w-full m-auto px-10 backdrop-opacity-(--my-backdrop-filter-opacity) ">
            <img   src="../../public/img/portada.png" alt="portada">
        </div> -->
      
</section>
