<section class="flex max-w-[1300px] min-h-[600px] m-auto h-[60vh]">
        <div class="w-full m-auto px-10">
            <h1>Bóveda de Cursos</h1>
            <h2 class="text-white">Conocimiento accesible
            </h2>
            <div class="py-5 text-white">
                <p>cursos <strong class="text-primary">económicos</strong> y <strong class="text-primary">descargables</strong> de alta calidad.</p>
            <p>Accede a contenido completo y actualizado, sin
                pagar de más.</p>
            </div>
            <div class="flex text-gray-400 text-[18px] pb-4">

                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-[#fed700] to-[#fed700] group-hover:from-green-400 group-hover:to-blue-600 hover:text-black hover:font-bold "
                >
                    <span
                        class="relative text-[14px] md:text-[18px] px-3 py-3.5 transition-all ease-in duration-75 bg-[#232524] rounded-full group-hover:bg-transparent"
                    >
                        Explorar cursos
                    </span>
                </button>
                <button
                class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-[#fed700] to-[#fed700] group-hover:from-green-400 group-hover:to-blue-600 hover:text-black hover:font-bold "
            >
                <span
                    class="relative text-[14px] md:text-[18px] px-3 py-3.5 transition-all ease-in duration-75 bg-[#232524] rounded-full group-hover:bg-transparent"
                >
                    Ser vendedor VIP
                </span>
            </button>
                
        
            </div>
            <div class=" bg-black/40 text-gray-200 text-sm italic w-min py-2 px-3 rounded-md whitespace-nowrap">
                <span>¡Empieza a aprender hoy mismo!
                </span>
            </div>
        </div>
        <!-- <div class="w-full m-auto px-10 backdrop-opacity-(--my-backdrop-filter-opacity) ">
            <img   src="../../public/img/portada.png" alt="portada">
        </div> -->
      
</section>
