<section class="flex max-w-[1300px] min-h-[600px] m-auto h-[60vh]">
        <div class="w-full m-auto px-10">
            <h1>Cursos Bajo Precio</h1>
            <h2 >Aprende sin gastar de más</h2>
            <div class="py-5 text-white">
                <p>Cursos Bajo Precio ofrece <strong>cursos económicos</strong> y descargables de alta calidad,</p>
            <p>completos y con futuras <strong>Actualizaciones gratuitas.</strong></p>
            </div>
            <div class="flex text-gray-400 text-[18px] pb-4">
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200"
                >
                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#27385C] rounded-full group-hover:bg-transparent"
                    >
                        Empieza gratis
                    </span>
                </button>
                <button
                    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden font-mediu rounded-full group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200"
                >
                    <span
                        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-[#27385C] rounded-full group-hover:bg-transparent"
                    >
                        Explorar Catálogo
                    </span>
                </button>
            </div>
            <div class=" bg-[#080E28]/40 text-gray-200 text-sm italic w-min py-2 px-3 rounded-md whitespace-nowrap">
                <span>¡Empieza a aprender hoy mismo!
                </span>
            </div>
        </div>
        <div class="w-full m-auto px-10 backdrop-opacity-(--my-backdrop-filter-opacity) ">
            <img   src="../../public/img/portada.png" alt="portada">
        </div>
      
</section>
