---
import Facebook from "./icons/Facebook.astro";
import Telegram from "./icons/Telegram.astro";
import Instagram from "./icons/Instagram.astro";
import Bitcoin from "./icons/Bitcoin.astro";
import Paypal from "./icons/Paypal.astro";
---


<footer class="bottom-0 left-0 w-full bg-primary">
 <section class="relative text-black m-auto">
    <div class="flex flex-wrap max-w-[1400px] m-auto  p-10 md:py-10 gap-x-20">
        <div>
            <a href=""><img src="./img/logo.webp" class="w-40 h-auto" aria-label="Logo de Boveda de curso"></a>
            <div class="flex gap-x-3 py-2">
                <a href="https://www.facebook.com/share/1NovfzDk3S/" target="_blank" aria-label="Facebook">
                    <Facebook class="w-6 h-6 inline-block"/>
                </a>
                <a href="https://t.me/bovedadecursos/" target="_blank" aria-label="Telegram">
                    <Telegram class="size-6 inline-block"/>
                </a>
                <a href="https://www.instagram.com/boveda.de.cursos?igsh=YmhyenFiM3R0MGNk
                " target="_blank" aria-label="Instagram">
                    <Instagram class="size-6 text-black inline-block"/>
                </a>
            </div>
            <p>Compra seguro, con facilidad <br> y calidad de tus cursos</p>       
        </div>
        <div>
            <h3 class=" font-bold md:pb-3 md:py-0 py-5">Navegación</h3>
            <ul role="list" class="space-y-3 px-3">
                <li class="flex"><a href="../">Inicio</a></li> 
                <li class="flex"><a href="/Cursos">Tienda</a></li>
                <li class="flex"><a href="">Contacto y FASQs</a></li>  
            </u>
        </div>
        <div>
            <h3 class="text-xl font-bold md:pb-3 md:py-0 py-5">Políticas y Legal</h3>
            <ul role="list" class="space-y-3 px-3">
                <li class="flex"><a href="/Politica-Privacidad">Política de Privacidad</a></li>
                <li class="flex"><a href="">Política de Devolución</a></li>
                <li class="flex"><a href="">Términos y Condiciones</a></li>
                <li class="flex"><a href="">Aviso Legal</a></li>
                <li class="flex"><a href="">T&C - Vendedor</a></li>
                <li class="flex"><a href="">DMCA</a></li>   
            </ul>
        </div>
        <div>
            <h3 class="text-xl font-bold md:pb-3 md:py-0 py-5">Información de Contacto</h3>
            <ul role="list" class="space-y-3 px-3">
                <li class="flex"><a href="mailto:info@bovedadecursos2025.com">info@bovedadecursos2025.com</a></li> 
                <li class="flex"><a href="https://www.facebook.com/share/1NovfzDk3S/" target="_blank">Facebook</a></li>
                <li class="flex"><a href="https://www.instagram.com/boveda.de.cursos?igsh=YmhyenFiM3R0MGNk" target="_blank">Instagram</a></li>
                <li class="flex"><a href="https://t.me/bovedadecursos/" target="_blank">Telegram</a></li>  
            </ul>
        </div>
    </div>

 </section>
  <section class="bg-[#232524]">
    <div class="max-w-[1400px]  m-auto flex flex-wrap-reverse justify-center md:justify-between text-xs px-10 py-3 text-white gap-y-5">
        <div>
            <p>&copy 2025 - Boveda de Cursos. Todos los derechos reservados.</p>
            <p>Desarrollado por <a class="font-bold cursor-pointer hover:underline" href="mailto:aroldoparedespineiros@gmail.com">aroldoparedespineiros@gmail.com</a></p>
        </div>
        <div class="flex flex-row gap-x-2">
            <Bitcoin class="h-[40px] w-[40px]"></Bitcoin>
            <Paypal class="h-[40px] w-[40px]"></Paypal>
        </div>
    </div>
    
  </section>
</footer>