---
import Login from "./icons/Login.astro";
import Register from "./icons/Register.astro";
---
<div id="modalOverlay" class="fixed inset-0 bg-black/20 bg-opacity-50 px-5 md:px-0 items-center justify-center z-50 hidden">
    <!-- Contenedor del modal -->
    <div class="relative mx-auto w-full max-w-md bg-white shadow-xl ring-1 ring-gray-900/5 sm:rounded-xl">
      <!-- Botón de cerrar -->
      <button id="closeModal" class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 text-xl font-bold">
        ×
      </button>
        <div class="grid grid-cols-2 text-center pt-5 pb-4">
          <button
              data-tab="ingresar"
              class="tab-btn inline-flex gap-2 items-center justify-center p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg hover:text-gray-600 hover:border-gray-300"
            ><Login></Login>
              Ingresar
            </button>
            <button
            data-tab="registrar"
            class="tab-btn inline-flex gap-2 items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
          >
            <Register></Register>
            Registrar
          </button>
        </div>
        
      <!-- Contenido del modal -->
      <div id="ingresar" class="tab-content w-full px-7 pb-5">
        <div class="mt-5">
          <form action="" class="text-center">
            <div class="relative">
              <input type="email" name="email" id="email" placeholder="Email Address"
                class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none"
                autocomplete="NA" />
              <label for="email"
                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Correo</label>
            </div>
            <div class="relative mt-6">
              <input type="password" name="password" id="password" placeholder="Password"
                class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none" />
              <label for="password"
                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Contraseña</label>
            </div>
            <div class="my-6">
              <button type="submit"
                class="w-full bg-black px-3 py-4 text-white focus:bg-gray-600 focus:outline-none">Inicia sesión</button>
            </div>    
              <button class="flex w-full px-3 py-4 bg-white border border-gray-300 justify-center shadow-md  text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                  <svg class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="-0.5 0 48 48" version="1.1"> <title>Google-color</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Color-" transform="translate(-401.000000, -860.000000)"> <g id="Google" transform="translate(401.000000, 860.000000)"> <path d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24" id="Fill-1" fill="#FBBC05"> </path> <path d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333" id="Fill-2" fill="#EB4335"> </path> <path d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667" id="Fill-3" fill="#34A853"> </path> <path d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24" id="Fill-4" fill="#4285F4"> </path> </g> </g> </g> </svg>
                  <span>Continuar con google</span>
              </button>
              <div class="pt-4">
                <a href="#!"
                class="font-semibold text-gray-600 hover:underline focus:text-gray-800 focus:outline-none">¿Olvidaste tu contraseña?</a>
              </div>
            
          </form>
        </div>
      </div>
      <div id="registrar" class="tab-content w-full px-7 pb-5 hidden">
        <div class="mt-5">
          <form action="" class="text-center">
            <div class="relative">
              <input type="email" name="email" id="email" placeholder="Email Address"
                class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none"
                autocomplete="NA" />
              <label for="email"
                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Correo</label>
            </div>
            <div class="relative mt-6">
              <input type="password" name="password" id="password" placeholder="Password"
                class="peer mt-1 w-full border-b-2 border-gray-300 px-0 py-1 placeholder:text-transparent focus:border-gray-500 focus:outline-none" />
              <label for="password"
                class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-gray-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-gray-800">Contraseña</label>
            </div>
            <div class="my-6">
              <button type="submit"
                class="w-full bg-black px-3 py-4 text-white focus:bg-gray-600 focus:outline-none">Registar</button>
            </div>                
          </form>
        </div>
      </div>
  
    </div>
  </div>

  <script class="">

    const openModal = document.getElementById("openModal");
    const closeModal = document.getElementById("closeModal");
    const modalOverlay = document.getElementById("modalOverlay");
  
    openModal.addEventListener("click", () => {
      modalOverlay.classList.remove("hidden");
      modalOverlay.classList.add("flex");
      
    });
  
    closeModal.addEventListener("click", () => {
      modalOverlay.classList.remove("flex");
      modalOverlay.classList.add("hidden");
    });
  
    // Cerrar modal si se hace clic fuera del contenido
    modalOverlay.addEventListener("click", (e) => {
      if (e.target === modalOverlay) {
        modalOverlay.classList.remove("flex");
        modalOverlay.classList.add("hidden");
       
      }
    });
  </script>

  
<script>
  const tabButtons = document.querySelectorAll(".tab-btn");
  const tabContents = document.querySelectorAll(".tab-content");

  tabButtons.forEach((button) => {
    button.addEventListener("click", () => {
      const tabId = button.getAttribute("data-tab")!;

      // Quitar clases activas a todos los botones
      tabButtons.forEach((btn) => {
        btn.classList.remove(
          "text-blue-600",
          "border-blue-600",
          "dark:text-blue-500",
          "dark:border-blue-500",
        );
        btn.classList.add("text-gray-500", "border-transparent");
      });

      // Ocultar todo el contenido
      tabContents.forEach((content) => {
        content.classList.add("hidden");
      });

      // Activar el botón actual
      button.classList.add("text-blue-600", "border-blue-600");
      button.classList.remove("text-gray-500", "border-transparent");

      // Mostrar contenido relacionado
      document.getElementById(tabId)!.classList.remove("hidden");
    });
  });
</script>