
<div class="facturacion-item-template hidden">
    <div class="bg-white rounded-sm border border-gray-200 p-6 shadow-sm w-full">
        <!-- Título -->
        <h3 class="text-lg font-semibold mb-4">Tu pedido</h3>
        <!-- Encabezado -->
        <div class="flex justify-between font-semibold text-red-500 border-b pb-2">
          <span>Producto</span>
          <span>Subtotal</span>
        </div>
        <!-- Producto -->
        
          <div id="facturacion-lista-productos"></div>
        
        <!-- Total -->
        <div class="flex justify-between py-3 font-bold text-red-500 text-lg">
          <span>Total</span>
          <span class="curso-precioTotal"></span>
        </div>
    </div>
</div>
