---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import FloatingButton  from '../components/FloatingButton.astro';
import "../styles/global.css"

interface Props {
	title: string;
	description: string;
}

const { title,  description} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
        src="https://www.paypal.com/sdk/js?client-id=AZOmn_yJ7pfsCjUaHEwRR7h9CvJevEBnqImEOYmZMbUeJNYzt525T-cY6E_G8UL31sRMqtYMUxZKGH1O&buyer-country=US&locale=es_PE&currency=USD&components=buttons&enable-funding=card&disable-funding=venmo,paylater"
        data-sdk-integration-source="developer-studio"
    	></script>
	</head>
	<body>
		<Header></Header>
		<slot />
		<FloatingButton></FloatingButton>
		<Footer></Footer>
	</body>
</html>

<style>
	html {
		background-color: #232524;
		font-family: 'Lato',sans-serif;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
